@import url('https://fonts.cdnfonts.com/css/circular-std');

$font1: 'Circular Std', sans-serif;

$color-background: #fefefe;
$color-blanc: #ffffff;

$color-text: #000000;

$color-grey: #a0a0a0;
$color-grey-doux: #eaeaea;

$color-button: #a52a2a;
$color-social-button: #3f5a93;

$border-radius-10: 10px;
$border-radius-5: 5px;
