@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

//margin
@mixin ml($value) {
  margin-left: $value;
}

@mixin mt($value) {
  margin-top: $value;
}

@mixin mr($value) {
  margin-right: $value;
}

@mixin mb($value) {
  margin-bottom: $value;
}

//padding
@mixin pr($value) {
  padding-right: $value;
}

@mixin pl($value) {
  padding-left: $value;
}

@mixin pt($value) {
  padding-top: $value;
}

@mixin pb($value) {
  padding-bottom: $value;
}

@mixin p($value) {
  padding: $value;
}

//width
@mixin w($value) {
  width: $value;
}

@mixin absCenter {
  position: abosolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (max-width: 849px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}
