main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.login-container {
  width: 50%;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form p {
  font-size: 1.4rem;
  font-weight: 200;
  padding: 1.5rem;
  width: 50rem;
}

.login-form .login-form button:hover {
  transform: translateY(-0.2rem) !important;
}

.login-hr-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-hr-wrapper hr {
  width: 50rem;
  z-index: 0;
  border: 1px solid $color-grey-doux !important;
}
.login-hr-wrapper div {
  background-color: $color-background;
  z-index: 1;
  display: inline-flex;
  position: absolute;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: $color-grey;
}
