.separator-57 {
  @include responsive(lg) {
    width: 80%;
  }
}
footer {
  @include responsive(sm) {
    display: none;
  }
}
.col-1 {
  @include responsive(sm) {
    display: none;
  }
}
.social-area {
  @include responsive(sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
