.button-bg-blue {
  width: 80%;
  height: 4rem;
  border: 1px solid $color-grey !important;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
  background: linear-gradient(to right, #454e6b, #29314b, #454e6b) !important;
  @include responsive(md) {
    width: 60%;
    font-size: 1.6rem;
  }
}
.continue-btn {
  position: absolute;
  width: 36.3rem;
  height: 4.4rem;
  left: 2rem;
  top: 2rem;

  background-color: #454e6b;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 4.4rem;
  cursor: pointer;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #fefefe;
  border: 1px solid #a0a0a0;
  margin: 1.8rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-bar-text1,
.search-bar-text2 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 450;
  line-height: 2rem;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-align: left;
  display: flex;
  margin-top: 0.18rem;
  margin-right: 8rem;
}

.search-bar-text1 {
  font-size: 1.6rem;
}

.search-bar-text2 {
  font-size: 1.4rem;
  color: #a0a0a0;
}

.search-bar-icon {
  position: absolute;
  right: 38.7rem;
  left: 2rem;
  top: 1.48rem;
  bottom: 1.58rem;
  display: flex;
  margin-right: 1.2rem;
}
.coeur-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 5.730481338500977rem;
  width: 12.8rem;
  border-radius: 3rem;
  border: 1px solid #a0a0a0;
  margin: 18.0966796875px;
  .coeur-login-line {
    height: 5.4rem;
    border: 1px solid #a0a0a0 !important;
    /* transform: rotate(90deg); */
    padding: 0%;
  }
}

.social-button {
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  width: 29rem;
  margin: 1.3rem;
  padding: 1rem;
  border: 1px solid;
  background-color: transparent;
  border-radius: $border-radius-20;
  &.fb-btn {
    background-color: $color-social-button-fb;
    color: white;
  }
  &.fb-btn svg {
    @include responsive(md) {
      height: 15px;
      margin-left: 0.5rem;
    }
  }
  &.google-btn svg {
    @include responsive(lg) {
      margin-left: 0.5rem;
    }
    @include responsive(md) {
      height: 15px;
      margin-left: 0.5rem;
    }
  }
  &.apple-btn svg {
    @include responsive(md) {
      height: 15px;
      margin-left: 0.5rem;
    }
  }
  &.email-btn svg {
    @include responsive(md) {
      height: 13px;
      margin-left: 0.5rem;
    }
  }
  @include responsive(lg) {
    margin: 0.5rem;
    width: 21rem;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
}

.button-none {
  background: none;
  color: inherit;
  border: none;
  margin: 1rem;
  cursor: pointer;
}

.button-menu {
  background-color: $color-background;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 14px;
  border: 1px solid $color-button;
  font-family: $font1;
  cursor: pointer;
}

.button-xs {
  color: $color-blanc;
  background-color: $color-button;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  border-radius: $border-radius-5;
  font-size: 14px;
  border: none;
  font-weight: 100;
  font-family: $font1;
  margin-top: 1.4rem;
  cursor: pointer;
}

.button-m {
  color: $color-blanc;
  background-color: $color-button;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  border-radius: $border-radius-5;
  border: none;
  margin-top: 1.4rem;
  cursor: pointer;
  width: 100%;
}

.button-return {
  @include responsive(sm) {
    background-color: $color-background;
    display: block !important;
    top: 10px;
    left: 6px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    border: none;

  }
}