.continue-btn {
  position: absolute;
  width: 36.3rem;
  height: 4.4rem;
  left: 2rem;
  top: 2rem;

  background-color: #454e6b;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 4.4rem;
  cursor: pointer;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #fefefe;
  border: 1px solid #a0a0a0;
  /* margin: 1.8rem; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-bar-text1,
.search-bar-text2 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  line-height: 2rem;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: left;
  display: flex;
  margin-top: 0.18rem;
  margin-right: 8rem;
}

.search-bar-text1 {
  font-size: 1.6rem;
}

.search-bar-text2 {
  font-size: 1.4rem;
  color: #a0a0a0;
}

.search-bar-icon {
  position: absolute;
  right: 38.7rem;
  left: 2rem;
  top: 1.48rem;
  bottom: 1.58rem;
  display: flex;
  margin-right: 1.2rem;
}
.social-buttons {
  display: flex;
  
}
.social-buttons button {
  width: 20rem;
  height: 4rem;
}
.social-buttons button:first-child {
  background-color: $color-social-button;
}
