.cta-button {
  height: 5.2rem;
  border: 1px solid $color-grey !important;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
  background: linear-gradient(to right, #454e6b, #29314b, #454e6b) !important;
}
