.flex {
  display: flex;
}

.block {
  display: block !important;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-col-sm {
  display: flex;
  justify-content: center;
  @include responsive(md) {
    flex-direction: column;
  }
}

.flex-center-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-inline-center {
  display: inline-flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-inline-center-around {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-inline-center-between {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.width-lg {
  width: 80%;
}
.width-full {
  width: 100%;
}

.width-full-rounded {
  border-radius: 6px;
}

.width-half {
  width: 50%;
}

.width-half-sm {
  @include responsive(md) {
    width: 50% !important ;
  }
}

.width-quarter {
  width: 25%;
}

.width-auto {
  width: auto;
}

.img-full {
  width: 100%;
  height: 44rem;
}

.text-center {
  text-align: center;
}
.visible-responsive {
  @include responsive(sm) {
    display: block;
  }
}
.hidden-responsive {
  @include responsive(sm) {
    display: none;
  }
}
