@use 'sass:math';
.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 100%;
  @include responsive(md) {
    max-width: 849px;
  }
}

.row {
  display: flex;
  margin-left: math.div($grid-gutter, 2);
  margin-right: math.div($grid-gutter, 2);
  @include responsive(sm) {
    flex-wrap: wrap;
  }
}
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin-left: math.div($grid-gutter, 2);
  margin-right: math.div($grid-gutter, 2);
  @include responsive(sm) {
    flex-wrap: wrap;
  }
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  padding-left: math.div($grid-gutter, 2);
  padding-right: math.div($grid-gutter, 2);
}

// Generate classes for each column size
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex-basis: percentage(math.div($i, $grid-columns));
    max-width: percentage(math.div($i, $grid-columns));
    @include responsive(sm) {
      max-width: 100%;
    }
  }
}
