.home-card {
    .home-article {
        :nth-child(3) {
            display: flex;
        }
    }
}

.card-price {
    display: flex;
    margin-top: 0.9rem;
    color: $color-grey;
    align-items: center;

        p:nth-child(1) {
            font-weight: 700;
        }

        span {
            width: 5px;
            height: 5px;
            background-color: $color-grey;
            text-align: center;
            border-radius: 100px;
            margin-right: 0.8rem;
        }
}
