.home-button-time {
    color: $color-blanc;
    background-color: $color-button;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    border-radius: $border-radius-5;
    font-size: 14px;
    border: none;
    font-weight: 100;
    font-family: $font1;
}