.margin-top-26 {
    margin-top: 2.6rem;
}

.margin-top-18 {
    margin-top: 1.8rem;
}

.margin-top-16 {
    margin-top: 1.6rem;
}

.margin-top-13 {
    margin-top: 1.3rem;
}

.margin-left-11 {
    margin-left: 1.1rem;
}