@for $i from 0 through 100 {
    $decimal-i: calc($i / 10);
    .pr-#{$i} {
      @include pr(#{$decimal-i}rem);
    }
  }
  
  @for $i from 0 through 100 {
    $decimal-i: calc($i / 10);
    .pl-#{$i} {
      @include pl(#{$decimal-i}rem);
    }
  }
  
  @for $i from 0 through 100 {
    $decimal-i: calc($i / 10);
    .pt-#{$i} {
      @include pt(#{$decimal-i}rem);
    }
  }
  
  @for $i from 0 through 100 {
    $decimal-i: calc($i / 10);
    .pb-#{$i} {
      @include pb(#{$decimal-i}rem);
    }
  }
  
  @for $i from 0 through 100 {
    $decimal-i: calc($i / 10);
    .p-#{$i} {
      @include p(#{$decimal-i}rem);
    }
  }