.types-container {
    position: relative;
    width: 100%;
    overflow-x: auto; /* faire défiler horizontalement */
    overflow-y: hidden;
    white-space: nowrap; /* empêcher les sauts de ligne */
    //-webkit-overflow-scrolling: touch;
  }
  
  .categories-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1.5rem; /* marges de chaque côté pour éviter les bords collés */
  }
  
  .category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    cursor: pointer;
  }

  .category.active {
    opacity: 0.7; /* rendre la catégorie sélectionnée plus foncée */
  }
  
  .category img {
    //width: 5rem;
    height: 5rem;
  }
  
  .category span {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .line {
    position: absolute;
    bottom: -3px; /* positionner la ligne en bas des catégories */
    height: 3px;
    background-color: $color-text; /* couleur de la ligne */
    transition: all 0.3s ease; /* ajouter une transition pour l'animation */
  }
  