.separator-57 {
    background: $color-grey;
    border: 0;
    height: 1px;   
    width: 57.1rem;
    @include responsive(md) {
        width: 49rem;
      }
}


.separator-57-none {
    background: $color-grey;
    border: 0;
    height: 1px;   
    width: 57.1rem;
    @include responsive(md) {
        display: none;
      }
}



.separator-54 {
    background: $color-grey;
    border: 0;
    height: 1px;   
    width: 54.3rem;
}


.separator-40 {
    background: $color-grey;
    border: 0;
    height: 1px;   
    width: 40.2rem;
}

.separator-39 {
    background: $color-grey-doux;
    border: 0;
    height: 1px;   
    width: 39.7rem;
}

.separator-28 {
    background: $color-grey;
    border: 0;
    height: 1px;   
    width: 28rem;
}

.separator-24 {
    background: $color-grey;
    border: 0;
    height: 1px;   
    width: 24rem;
}

