*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font1;
  background-color: $color-background;
  box-sizing: border-box;
  padding: 3rem;
  @include responsive(sm) {
    padding: 0;
  }
  ::selection {
    color: $color-text;
    background-color: $color-grey;
  }
}
