$color-background: #fefefe ;

$color-text: #000000 ;

$color-grey: #A0A0A0 ;
$color-grey-doux: #EAEAEA ;
 
$color-button: #A52A2A ;
  
$font-url: 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' !default;
$font-name: 'Droid Sans' !default;