@import url('https://fonts.cdnfonts.com/css/circular-std');

$font1: 'Circular Std', sans-serif;

$color-background: #fefefe;

$color-text: #000000;

$color-grey: #a0a0a0;
$color-grey-doux: #eaeaea;

$color-button: #a52a2a;

*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  @include responsive(md) {
    font-size: 8px;
  }
}

body {
  font-family: $font1;
  background-color: $color-background;
  box-sizing: border-box;
  @include responsive(sm) {
    padding: 0;
  }
  ::selection {
    color: $color-text;
    background-color: $color-grey;
  }
}

.overflow {
  overflow: scroll;
}
