/* 
$font-size-base: 16px;
$font-family-base: "Arial", sans-serif; */

// body {
//     /* 
//   font-size: $font-size-base;
//   line-height: $line-height-base;
//   font-family: $font-family-base; */
//   /* background-color: $color-background; */
// }

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: medium;
}

h3 {
  font-size: 20px;
  font-weight: 400 ;
}

h4 {
  font-size: 18px;
  font-weight: 400 ;
}

p {
  font-size:16px;
  font-weight: 400;
}

