/* 

// body {
//     /*
//   font-size: $font-size-base;
//   line-height: $line-height-base;
//   font-family: $font-family-base; */
//   /* background-color: $color-background; */
// }

h1 {
  font-size: 48px;
  font-weight: bold;
  @include responsive(lg) {
    font-size: 35px;
  }
  @include responsive(md) {
    font-size: 30px;
  }
}

h2 {
  font-size: 24px;
  font-weight: medium;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  @include responsive(md) {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}
.sous-p {
  font-size: 14px;
  font-weight: 300;
}

label,
input,
select,
option {
  font-size: 14px;
  font-weight: 300;
}
